[Unit]
Description=StartYOLO_ROS2_Node
After=network.target

[Service]
User=ubuntu
Type=simple
Environment="HOME=/home/ubuntu/turtlebot3_ws"
WorkingDirectory=/home/ubuntu/turtlebot3_ws
ExecStart=/bin/bash /home/ubuntu/turtlebot3_ws/utils/start_yolo.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
